* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
    background: #2a273f;
    margin: 0;
    padding: 0;
}

body {
  background: #2a273f;
  color: #e0def4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in {
    animation: fadeIn 2.1s ease forwards;
}