# Build output
Core/bin
Core/obj
Client/node_modules
Client/dist

# Logs
*.log
npm-debug.log*

# Env files
.env
.env.local

# IDE files
.vs/
*.user
*.suo
.idea/

# packages folder for storage space purposes
/packages